*{
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

body, html{
    margin: 0px;
    height: 100%;
    position: relative;
    background-color: #e9f3ff;
}

#main-title{
    font-size: 130px;
    text-align: center;
    font-family: Arial;
    margin: 0px;
    padding-top: 30px;
    color: white;
    text-shadow: 0px 0px 10px black;
}

header a{    
    text-decoration: none;
}

header{    
    min-height: 150px;
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
    box-shadow: 3px 2px 2px 0px grey;
    background-image: url('../img/Lille.jpg');
    background-size: cover;
    background-position: center;
}

.shadowed{    
    box-shadow: 3px 2px 2px 0px grey;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
}

main{
    width: 1000px;
    margin: auto;
}

#menu{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin-right: -0.25em;
}

#menu ul{
    padding-left: 5px;
    margin: 5px 0px 0px 0px;
}

#menu ul li{
    list-style: none;
    background-color: #418ae4;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

#menu ul li:hover{
    background-color: #1e63b9;
    color: black;
}

#menu ul li.selected{    
    background-color: #1e63b9;
}

#menu a{
    color: white;
    text-decoration: none;
    display: block;
}

#page{
    width: 75%;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin-left: 5%;
    text-align: justify;
    padding: 15px;
}

.summary a{
    color: #418ae4;
}

.summary a:visited{
    color: #1e63b9;
}